{{>navbar}}
{{#if books}}
{{>table}}
{{else}}
<div class="mt-5 pt-5 text-center">
    <p >
            You have no posts yet,add some
    </p>
<a href="/books/add" class="btn btn-success text-center">
  Add
  <i class="fas fa-plus"></i>
</a></div>

{{/if}}