


<div class="container my-5">
<div class="text-center">
    <i class="fas fa-bomb" style="font-size: 100px;"></i>
<h1 class="display-1">Error</h1></h1>
<p>Did you fill all the required fields? 😕</p>

<a href="/home" class="btn btn-danger">Go back</a>
</div>
</div>