
<!-------Edit here --->
<body>
	
	<div class="container">
    <div class="row px-3">
		<div class="box"><h1 class="display-1">BOOKISH</h1></div>

      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
		  
        <div class="img-left d-none d-md-flex">
			
			<img src="css/image/background.png" alt="">
			
		</div>
         <div class="card-body">
			
          <h2 class="title text-center mt-4"> Login into account</h2>
		  <div class="button"><a href="/auth/google" class="btn btn-danger">Login in with google</a></div>
		  <div>
			  <h3 class="text1">By signing in,you agree to the Bookish Terms of Service and Privacy Policy.</p>
			  </h3></div>
		  </div>
		  </div>
		  </div>
		  </div>
	
</body>